<h2>Postagens</h2><a href="#areaDeEnvio" style="margin-left: 16px;">Fazer nova postagem</a>
<hr>
<table class="table table-success">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Título</th>
      <th scope="col">Conteúdo</th>
      <th scope="col">Tags</th>
      <th scope="col">Data e hora</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let postagem of postagens">
      <th scope="row">{{ postagem.id }}</th>
      <td>{{ postagem.titulo }}</td>
      <td>{{ postagem.conteudo }}</td>
      <td>
          <table>
            <tr *ngFor="let tag of postagem.tags">
              <td>
                {{ tag.texto }}
              </td>
            </tr>

          </table>
          
        </td>
      <td>{{ postagem.dataHora }}</td>
    </tr>
  </tbody>
</table>

<h2 id="areaDeEnvio">Área de envio:</h2>
<hr>

<form>
  <div class="mb-3 container">
    Título: <input type="text" name="titulo" id="titulo"><br><br>
    Conteúdo: <div class="form-group">
      <label for=""></label>
      <textarea class="form-control" name="" id="conteudo" rows="3"></textarea>
    </div>
    <div class="container" style="padding: 16px;">
      <button type="button" class="btn btn-primary">Enviar</button>
    </div>
    
  </div>
</form>
