<h2>Postagens</h2>
<hr>
<table>
  <tr>
    <th>#Id</th>
    <th>Título</th>
    <th>Conteúdo</th>
    <th>Tags</th>
    <th>Data e hora</th>
  </tr>
  <tr *ngFor="let postagem of postagens">
      <td>{{ postagem.id }}</td>
      <td>{{ postagem.titulo }}</td>
      <td>{{ postagem.conteudo }}</td>
      <td>{{ postagem.tags }}</td>
      <td>{{ postagem.dataHora }}</td>
  </tr>

</table>

<h2>Área de envio:</h2>
<hr>

<form>
  Título: <input type="text" name="titulo" id="titulo">
  <br><br>
  Conteúdo: <div class="form-group">
    <label for=""></label>
    <textarea class="form-control" name="" id="" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
